<div class="message mt-3 <%= my_message?(message) %>" id="message-<%= message.id %>">
  <div class="content-container">
    <div class="content">
      <%= simple_format(h message.content) %>
    </div>
    <div class="user">
      <%= message.user.email %>: <%= l message.created_at, format: :short %>
    </div>
  </div>
</div>
