<div class="message" id="message-<%= message.id %>">
  <p><%= message.id %>: <%= message.user.email %>: <%= l message.created_at, format: '%H:%M %a %b-%d-%Y' %></p>
  <%= simple_format(h message.content) %>
</div>
